:root{
  /* color */
  --base-white:#D7D9CE;
  --base-black: #404040;
  --base-dark-blue:#13505B;
  --base-light-blue:#0C7489;
  --base-bright-blue :#119DA4;
  /* visiblity */
  --play-popup-visibility: 1;
  --home-page-visibility: 1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--base-white);
}

.home-page-content{
  opacity: var(--home-page-visibility);
}

.home-about-content{
  opacity: var(--home-page-visibility);
}
.play-popup-content{
  opacity: var(--play-popup-visibility);
}

.play-popup-close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.home-play-popup{
  margin-bottom: 20px;
}

.row {
  margin-right: 0;
}

.play-btn{
  margin: 10%;
}