:root{
  /* color */
  --base-white:#D7D9CE;
  --base-black: #404040;
  --base-dark-blue:#13505B;
  --base-light-blue:#0C7489;
  --base-bright-blue :#119DA4;
  /* visiblity */
  --play-popup-visibility: 1;
  --home-page-visibility: 1;
}


.play-popup-content{
  opacity: var(--play-popup-visibility);
}

.play-popup-close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

.row {
  margin-right: 0;
}

.about-content {
  padding: 2%;
}