#myCanvas {
    border:5px solid var(--base-black);
}

a{
    color:var(--base-dark-blue);
}
a:hover{
    color:var(--base-bright-blue);
    text-decoration: none;
}

#numberCard{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--base-white);
    
    border-width: 5%;
    border-color:var(--base-dark-blue);
}

#numberCard:hover{
    background-color:var(--base-dark-blue);
}
.row {
    margin-right: 0;
}